
html {
    scroll-behavior: smooth;
}

body{
    background: #fafbfc;
}

* {
    background-color: white;
    padding : 0px;
    margin: 0px;
}
#heading{
  display: block;
  height: 95px;
  position: sticky;
  top: 0 ;
  border:  2px solid #28a745;;
  box-sizing: border-box;
  background-color:#28a745;;
}
#logo{

 padding-left: 20px;
 box-sizing: border-box;
 background-color: #28a745;;
 
}
#logohead{
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    box-sizing: border-box;
    background-color: #28a745;;
    color: #ffffffff;
    display: flex;
    justify-content: center; 
}
.container{
   border: 1px solid #8c8f94;
    /* background: black; */
   border-radius: 5px;
   width: 300px;
   height: 400px;
   background-color:  #ffffff;
   /* background-color:#379A3A ; */
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 0 15px;
   font-family: 'Poppins',sans-serif;
   margin-top: 50px;
   margin-left: 525px;
   box-shadow: 0 9px 15px #8c8f94 ;
}
/* .container h2 {
    background-color:#379A3A ;
} */
/* .intro-text {
    background-color:#379A3A ;
} */
.intro-text p{
    margin: 5px 0;
    font-size: 13px;
    /* background-color:#379A3A ; */
}
.intro-text p a{
    color: #121212;
    /* background-color:#379A3A ; */
}
form{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color:#379A3A ; */
}
form input{
    padding: 12px 7px;
    outline: none;
    border: 1px solid #8c8f94;
    font-family: 'Poppins',sans-serif;
    /* width: 300px; */
}
form input:focus{
    border-color: #16056b;
}
.chcek-box{
    display: flex;
    width: 300px;
}
.chcek-box label{
    font-size: 10px;
    padding: 0 5px;
    width: 300px;
}
form button {
    border: none;
    outline: none;
    padding: 11px 0;
    background: #387002;
    /* background: #2e7d32; */
    /* background-color:  #ffffff; */
    color: #ffffff;
    font-size: 18px;
    box-shadow: 0 7px 15px #387002;
    /* box-shadow: 0 7px 15px #ffffff; */
    font-family: 'Poppins',sans-serif;
}